.stats-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;

    .col {
        width: 50%;
        padding: 20px;
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 10rem;
            font-weight: bold;
            color: #000000;
            font-family: 'Inter', sans-serif;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h2 {
            font-size: 5rem;
            margin-bottom: 1rem;
            color: #000000;
            font-family: 'Inter', sans-serif;
            margin-bottom: 2rem;
                        font-weight: "narmal";

        }

        a {
            text-decoration: none;
            color: #000000;
            font-weight: 500;
            font-size: 1.2rem;
            transition: color 0.3s;
            border: #000000 solid 1px;
            padding: 1rem;

            &:hover {
                color: #1fa57c;
            }
        }
    }
}